body {
  background-color: #A3C5FF;
}

.center {
  text-align: center;
}

input[type=file] 
{
    display: none;
}
.logo {
  font-size: 80px;
  line-height: 100px;
}

.subheader 
{
    line-height: 30px;
}
